<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments" :: head>

<body>
    <div class="card login" style="width: 18rem;">

        <img class="card-img-top" src="hey.png" alt="Question mark image">
        <div class="card-body">

            <h5 class="card-title" id="card-title">Register here!</h5>

            <form action="registered">
                <div class="form-register credentials">
                    <input type="text" name="name" id="name" placeholder="Name" required>
                    <input type="email" name="email" id="email" placeholder="E-mail" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <br>
                    <p>Select your avatar:</p>
                    <div class="avatars">


                        <input type="radio" name="avatar" id="cat" value="cat" checked>
                        <label for="cat"> <img src="/cat.png" alt="cat"></label>

                        <input type="radio" name="avatar" id="bear" value="bear">
                        <label for="bear"> <img src="/bear.png" alt="bear"></label>

                        <input type="radio" name="avatar" id="rabbit" value="rabbit">
                        <label for="rabbit"> <img src="/rabbit.png" alt="rabbit"></label>

                        <input type="radio" name="avatar" id="woman-2" value="woman-2">
                        <label for="woman-2"> <img src="/woman-2.png" alt="woman"></label>

                        <input type="radio" name="avatar" id="gamer" value="gamer">
                        <label for="gamer"> <img src="/gamer.png" alt="gamer"></label>

                        <input type="radio" name="avatar" id="woman" value="woman">
                        <label for="woman"> <img src="/woman.png" alt="woman"></label>

                        <input type="radio" name="avatar" id="man" value="man">
                        <label for="man"> <img src="/man.png" alt="man"></label>

                        <input type="radio" name="avatar" id="user" value="user">
                        <label for="user"> <img src="/user.png" alt="user"></label>

                        <input type="radio" name="avatar" id="profile" value="profile">
                        <label for="profile"> <img src="/profile.png" alt="profile"></label>

                        <!-- 
                        <img src="/cat.png" alt="cat">
                        <img src="/bear.png" alt="bear">
                        <img src="/rabbit.png" alt="rabit">
                        <img src="/woman-2.png" alt="woman">
                        <img src="/gamer.png" alt="gamer man">
                        <img src="/woman.png" alt="woman">
                        <img src="/man.png" alt="man">
                        <img src="/user.png" alt="woman">
                        <img src="/profile.png" alt="man"> -->
                    </div>
                </div>
                <br>
                <div class="info"></div>
                <input type="submit" class="btn btn-outline-primary btn-block" value="Register me!">
            </form>
        </div>
    </div>

    <!-- <script src="login.js"></script> -->
</body>

</html>