<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments" :: head>

<body>
    <div class="card login" style="width: 18rem;">

        <img class="card-img-top" src="cat.png" alt="Avatar">
        <div class="card-body">

            <h5 class="card-title" id="card-title">Category of questions</h5>

            <form class="register" action="difficulty">
                <div class="user_options">
                    <br>
                    <input type="radio" name="category" value="arts">
                    <label for="art">Arts & Literature</label>
                    <br>
                    <input type="radio" name="category" value="film">
                    <label for="film">Film & TV</label>
                    <br>
                    <input type="radio" name="category" value="food">
                    <label for="food">Food & Drink</label>
                    <br>
                    <input type="radio" name="category" value="general">
                    <label for="general">General Knowledge</label>
                    <br>
                    <input type="radio" name="category" value="geo">
                    <label for="geo">Geography</label>
                    <br>
                    <input type="radio" name="category" value="history">
                    <label for="history">History</label>
                    <br>
                    <input type="radio" name="category" value="music">
                    <label for="music">Music</label>
                    <br>
                    <input type="radio" name="category" value="science">
                    <label for="science">Science</label>
                    <br>
                    <input type="radio" name="category" value="society">
                    <label for="society">Society & Culture</label>
                    <br>
                    <input type="radio" name="category" value="sport">
                    <label for="sport">Sport & Leisure</label>

                    <br>
                </div>

                <input type="submit" class="btn btn-outline-primary btn-block" value="Continue"></input>
            </form>
        </div>
    </div>

</body>

</html>