<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments" :: head>

<body>
    <div class="card login" style="width: 18rem;">

        <img class="card-img-top" src="cat.png" alt="Avatar">
        <div class="card-body">

            <h5 class="card-title" id="card-title">Dificulty</h5>

            <form class="difficulty" action="playGame">
                <div class="user_options">
                    <br>
                    <input type="radio" name="dificulty" id="easy">
                    <label for="easy">Easy</label>
                    <br>
                    <input type="radio" name="dificulty" id="medium">
                    <label for="medium">Medium</label>
                    <br>
                    <input type="radio" name="dificulty" id="hard">
                    <label for="hard">Hard</label>

                    <br>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">Continue</button>
            </form>
        </div>
    </div>

</body>

</html>