<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <!--     <script src=game.js defer></script>-->
        <script src="./gameSetup.js" defer></script>
    <title>Quiz-app</title>
</head>

<body>
<div class="card login" style="width: 18rem;">

    <img class="card-img-top" src="cat.png" alt="Avatar">
    <div class="card-body">

        <h5 class="card-title" id="card-title">Category of questions</h5>

        <form class="register" action="difficulty">
            <div class="user_options">
                <br>
                <input type="radio" name="categories" id="art" value="arts_and_literature" checked></input>
                <label for="art">Arts & Literature</label><br>

                <input type="radio" name="categories" id="film" value="film_and_tv"></input>
                <label for="film">Film & TV</label> <br>

                <input type="radio" name="categories" id="food" value="food_and_drink"></input>
                <label for="food">Food & Drink</label> <br>

                <input type="radio" name="categories" id="general" value="general_knowledge"></input>
                <label for="general">General Knowledge</label> <br>

                <input type="radio" name="categories" id="geo" value="geography"></input>
                <label for="geo">Geography</label> <br>

                <input type="radio" name="categories" id="history" value="history"></input>
                <label for="history">History</label> <br>

                <input type="radio" name="categories" id="music" value="music"></input>
                <label for="music">Music</label> <br>

                <input type="radio" name="categories" id="science" value="science"></input>
                <label for="science">Science</label> <br>

                <input type="radio" name="categories" id="society" value="society_and_culture"></input>
                <label for="society">Society & Culture</label> <br>

                <input type="radio" name="categories" id="sport" value="sport_and_leisure"></input>
                <label for="sport">Sport & Leisure</label> <br>
            </div>

            <input type="submit" class="btn btn-outline-primary btn-block" value="Continue" id="categorySelectButton"></input>
        </form>
    </div>
</div>
<!--    <script src="./category.js"></script>-->
</body>

</html>