<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="./difficulty.js" defer></script>

    <title>Quiz-app</title>
</head>

<body>
<div class="card login" style="width: 18rem;">
    <img class="card-img-top" src="cat.png" alt="Avatar">
    <div class="card-body">
        <h5 class="card-title" id="card-title">Dificulty</h5>
        <form class="difficulty" action="playGame">
            <div class="user_options">
                <br>
                <input type="radio" id="easy" name="difficulty" value="easy" checked></input>
                <label for="easy">Easy</label>
                <br>
                <input type="radio" id="medium" name="difficulty" value="medium"></input>
                <label for="medium">Medium</label>
                <br>
                <input type="radio" id="hard" name="difficulty" value="hard"></input>
                <label for="hard">Hard</label>
                <br>
            </div>
            <input type="submit" class="btn btn-outline-primary btn-block" value="Continue" id="difficultyButton" />
            <!--                    </input>-->
        </form>
    </div>
</div>
</body>

</html>