<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments" :: head>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
<!--        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="../static/css/index.css">-->

<!--    <title>Quiz-app Login</title>-->
<!--</head>-->

<body>
    <div class="card login" style="width: 18rem;">
        <img class="card-img-top" src="cat.png" alt="Avatar">
        <div class="card-body">
            <h5 class="card-title" id="card-title">Amazing!</h5>
            <form action="singleGameStats">
            <div class="single-user-stat">
                You scored<br>
                <p class="score">{X} / 20</p>
            </div>
            </form>
            <form action="userOptions">
            <button type="submit" class="btn btn-outline-primary btn-block">Close</button>
            </form>

        </div>
    </div>

</body>

</html>