<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head th:replace="fragments" :: head>

<body>
    <div class="card login" style="width: 18rem;">

        <img class="card-img-top" src="cat.png" alt="Avatar">
        <div class="card-body">

            <h5 class="card-title" id="card-title">Let's roll!</h5>

            <div class="user_options">
                <br><br>
                <form id="play" action="selectCategory">
                    <input type="submit" name="playGame" class="btn btn-outline-info btn-block" value="Play">
                </form>
                <br>
                <form id="statistics" action="statistics">
                    <input type="submit" name="stats" class="btn btn-outline-info btn-block" value="Your Statistics">
                </form>
                <br>
                <form id="logout" action="logout">
                    <input type="submit" name="logout" class="btn btn-outline-secondary btn-block" value="Log out">
                </form>
                <br>
            </div>
        </div>
    </div>

</body>

</html>