<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="../static/css/index.css">-->
    <link th:href="@{/index.css}" rel="stylesheet" type="text/css" />
    <title>Quiz-app Login</title>
</head>

<body>
    <div class="card login" style="width: 18rem;">

        <img class="card-img-top" src="../static/img/cat.png" alt="Avatar">
        <div class="card-body">

            <h5 class="card-title" id="card-title">Let's roll!</h5>

            <form class="register">
                <div class="user_options">
                    <br>
                    <form action="selectCategory">
                    <input type="submit" name="playGame" class="btn btn-outline-info btn-block" value="Play Game" >
                    </form>
                    <form action="statistics">
                    <input  type="submit" name="stats" class="btn btn-outline-info btn-block" value="Statistics" >
                    </form>
                        <br>
                </div>

<!--                <button type="button" class="btn btn-outline-primary btn-block">Continue</button>-->
            </form>
        </div>
    </div>

</body>

</html>